@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rosario';
    width: 100%;
    height: max-content;
    background-color: #F5F5F5;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Header */
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999999;
    background-color: #fff;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F5;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
}

.menu-icon {
    display: none;
}

.menu-close-icon {
    display: none;
    height: 0;
}

.menu-icon.active .menu-close-icon {
    display: block;
    height: 50px;
}

.menu-icon.active .menu-open-icon {
    display: none;
    height: 0;
}

nav.active .menu {
    height: 100px;
}

header.active {
    box-shadow: 0px 100px 60px rgba(0, 0, 0, 0.25)
}

/* .logo {
    padding: 0 43px;
} */

.logo img {
    width: 200px;
}



.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    gap: 88px;
    color: #434259;
}

ul a{
    text-decoration: none;
    color: #434259;
}

.nav-list.opened {
    color: #434259;
    font-weight: 700;
}

.nav-list.opened{
    color:#F09427;
}

.nav-list {
    font-weight: 600;
    font-size: 20px;
}
.nav-list.vote {
    background: #434259;
    width: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-weight: 700;
    transition: all 3s10 ease-out ;
}

.nav-list.vote:active{
    background: #F19426;
    color: #f5f5f5;
    transform: translateY(3px);
}




/* Body */

main {
    padding: 200px 50px 100px 50px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    gap: 86px;
    align-items: center;
    justify-content: center;
}

.techie-images {
    position: relative;
    width: 566px;
    height: 678px;
    overflow: hidden;
}

.techie-images img {
    height: 384px;
    transition: all 2s ease-in-out;
}

.edwardcamp {
    position: absolute;
    top: 30px;
    right: 0;
}

.map-us {
    position: absolute;
    width: 700px;
    top: 255px;
    left: -100px;
}


article {
    max-width: 660px;
    width: 100%;
}

article h2 {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    color: #F09427;
}

article p {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #434259;
    margin-top: 66px;
    max-width: 526px;
    width: 100%;
}

.btn-cast {
    padding: 18px 30px;
    border: none;
    cursor: pointer;
    background: #F19426;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F5F5F5;
    margin-top: 40px;
    transition: all 2s ease-in-out;
}

.btn-cast a {
    text-decoration: none;
}

footer {
    width: 100%;
    position: relative;
    margin-bottom: 61px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.live {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 205px;
    gap: 20px;
    justify-content: space-between;
}

.live span {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.circl {
    content: " ";
    background-color: #F09427;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.25)) drop-shadow(0px 1px 3px rgba(241, 148, 38, 0.1));
}

.incircle {
    content: " ";
    background-color: #F09427;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    width: 15px;
    height: 15px;
}

.social-icons {
    display: flex;
    gap: 30px;
}

/* voting Page */

.voting_content {
    padding: 140px 80px 80px 40px;
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
    justify-content:space-between;
    gap:60px;
}

/* sidebar */
.sidebar{
    border-right: 3px solid #434259;
    height: max-content;
}

.sidebar ul{
    text-align: left;
    list-style: none;
    padding: 0;
    width: 180px;
}

.sidebar li{
    color: rgba(67, 66, 89, 0.4);
    padding-bottom: 31px;
}

.sidebar li.active{
    color: rgba(67, 66, 89);
}
    /* main content */

.main_content{
    display: grid;
    row-gap: 65px;
    flex: 1;
}

.voting_section_card.display {
    display: block;
}

.voting_section_card{
    width: 100%;
    height: max-content;
    /* display: none; */
    background:#ffffff;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:50px  100px;
}

.voting_section_card h2{
    font-weight: 700;
    font-size:26px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #F09427;
    padding-bottom: 30px;
    text-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
}

.instructions{
    padding-left: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #434259;
}

.instructions li{
    list-style-image: url('/image/diamond.svg' ) ;
    padding: 14px 0px 0px 28px
        
}
.check{
    font-size: 12px;
    font-weight: 400;
    padding-top: 32px;
}

#agree{
    color: #F09427;
}
    /* Button */
.btn_in_voting{
    text-align: center;
    margin: 40px 0px 40px 0px;  
}

.btn_in_voting_ss {
    text-align: center;
    margin: 60px 0px 0px 0px;
}
.init_btn{
    background: #161616;
    opacity: 0.4;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight:700;
    padding:11px 16px 10px 15px;
    cursor: pointer;
}

#read_confirm.clicked,
#state_select_btn.clicked,
#vote_nominee_btn.clicked {
    background-color: #F09427;
    opacity: 1;
}

#clear-country,
#clear-countr {
    color: #F19426;
    text-decoration: underline;
    display: none;
    cursor: pointer;
}

#country-select,
#countr-select {
    font-size: 20px;
    font-weight: 700;
}

.note_vin{
    font-weight: 700;
    padding-bottom: 18px;
    opacity: 0.4;
}

.note_ss{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 30px;
    width: 700px;
}

.map_img{
    text-align: center;
    cursor: pointer;
}

/* selecting techie class */

.tech-select {
    padding-bottom: 50px;
}
.nominee_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*#select_techlord_section{

}*/

.card{
    height: 310px;
    width: 250px;
    border-radius: 10px;
    filter: saturate(0%);
    cursor: pointer;
}

.carder {
    filter: saturate(100%);
}

.tech_img{
    margin-bottom: 5px;
}

.tech_img img{
    width: 250px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

.tech_lord_name{
    text-align: center;
    background:#008000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
}

.btn_in_voting_ss {
    margin-top: 10px;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    header {
        padding: 0 max(30px);   
    }
    
    nav {
        background-color: #F5F5F5;
    }

    .menu {
        gap: 15px;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 100px;
        width: 100%;
        height: 0;
        left: 0;
        transition: all 2s ease;
        right: 0;
        background-color: inherit;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .menu-icon {
        display: block;
    }

    .menu-open-icon,
    .menu-close-icon {
        width: 50px;
        height: 50px;
        transition: all 100s ease;
        cursor: pointer;
    }
}

/* last slide style */
.last-head {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #008000;
    text-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
}

.candidate-image {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.candidate-image img {
    width: 150px;
}

.sub-head {
    padding: 20px 0;
}

.progress-bar {
    width: 100%;
    margin-top: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

.elon-bar {
    width: 45%;
    background-color: rgb(0, 0, 255);
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: #fff;
    height: 20px;
}

.elon-count,
.edward-count {
    font-size: 20px;
    font-weight: 600;
    font-family: 'lucida Sans';
}

.back-links {
    padding: 20px;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-links ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.back-links ul li a {
    color: #F09427;
    transition: underline 50s ease;
}

.back-links ul li a:hover {
    text-decoration: underline;
}

.edward-bar {
    width: 55%;
    background-color: rgb(255, 0, 0);
    padding: 0 20px;
    text-align: right;
    color: #fff;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
}

@media (max-width: 589px) {
    .techie-images {
        transform: scale(min(0.9));
    }
}

@media (max-width: 509px) {
    .techie-images {
        transform: scale(min(0.7));
    }
}


@media (min-width: 900px) and (max-width: 1420px) {

    article {
        width: 48%;
    }
}