@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rosario';
    width: 100%;
    height: max-content;
    background-color: #F5F5F5;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Header */
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
    background-color: #fff;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F5;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
}

.logo {
    padding: 0 43px;
}

.logo img {
    width: 200px;
}



.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 88px;
    color: #434259;
}

ul a{
    text-decoration: none;
    color: #434259;
}

.nav-list.opened {
    color: #434259;
    font-weight: 700;
}

.nav-list.opened a:active{
    color:#F09427;
}

.nav-list {
    font-weight: 600;
    font-size: 20px;
}

.nav-list.vote {
    background: #434259;
    width: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-weight: 700;
    transition: all 3s10 ease-out ;
}

.nav-list.vote:active{
    background: #F19426;
    color: #f5f5f5;
    transform: translateY(3px);
}


/* Body */

main {
    margin: 200px 0 100px 50px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}



.techie-images {
    position: relative;
    width: 536px;
    height: 678px;
    overflow: hidden;
}

.techie-images img {
    height: 384px;
    transition: all 2s ease-in-out;
}

.edwardcamp {
    position: absolute;
    top: 30px;
    right: 0;
}

.map-us {
    position: absolute;
    width: 700px;
    top: 255px;
    left: -100px;
}


article {
    max-width: 660px;
}

article h2 {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    color: #F09427;
}

article p {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #434259;
    margin-top: 66px;
    width: 526px;
}

.btn-cast {
    padding: 18px 30px;
    border: none;
    cursor: pointer;
    background: #F19426;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F5F5F5;
    margin-top: 40px;
    transition: all 2s ease-in-out;
}

.btn-cast a {
    text-decoration: none;
}

footer {
    width: 100%;
    position: relative;
    margin-bottom: 61px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.live {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 205px;
    gap: 20px;
    justify-content: space-between;
}

.live span {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.circl {
    content: " ";
    background-color: #F09427;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.25)) drop-shadow(0px 1px 3px rgba(241, 148, 38, 0.1));
}

.incircle {
    content: " ";
    background-color: #F09427;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    width: 15px;
    height: 15px;
}

.social-icons {
    display: flex;
    gap: 30px;
}

/* voting Page */

.voting_content {
    margin: 216px 203px 0 40px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap:60px;
}

    /* sidebar */
.sidebar{
    position: fixed;
    border-right: 3px solid #434259;
    height: max-content;
    width: max-content;
}

.sidebar ul{
    text-align: left;
}

.sidebar li{
    list-style: none;
    color: #434259;
    opacity: 0.4;
    padding-bottom: 31px;
    padding-right: 10px;
}

.sidebar li:active{
    color: #434259;
    opacity: none;
}
    /* main content */

.the_main_content{
    float: right;
    margin:auto;
}
.main_content{
    display: grid;
    row-gap: 65px;
    width: 1200px;
    height: max-content;
}

.voting_section_card{
    width: 1000px;
    height: max-content;
    background:#ffffff;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:50px 0px 50px 100px;
}

.voting_section_card h2{
    font-weight: 700;
    font-size:26px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #F09427;
    padding-bottom: 50px;
    text-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
}

.instructions{
    padding-left: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #434259;
}

.instructions li{
    list-style-image: url('/image/diamond.svg' ) ;
    padding: 14px 0px 0px 28px
        
}
.check{
    font-size: 12px;
    font-weight: 400;
    padding-top: 32px;
}

#agree{
    color: #F09427;
}
    /* Button */
.btn_in_voting{
    text-align: center;
    margin: 40px 0px 100px 0px;  
}

.btn_in_voting_ss {
    text-align: center;
    margin: 60px 0px 0px 0px;
}
.init_btn{
    background: #161616;
    opacity: 0.4;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight:700;
    padding:11px 16px 10px 15px;
    cursor: pointer;
}

.note_vin{
    font-weight: 700;
    padding-bottom: 18px;
    opacity: 0.4;

}

.note_ss{
    font-weight: 700;
    font-size: 14px;
    opacity: 0.4;
    margin-bottom:50px
}

.map_img{
    text-align: center;
    cursor: pointer;
}

.nominee_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*#select_techlord_section{

}*/

.card{
    height: 310px;
    width: 250px;
    border-radius: 10px;
    filter: saturate(0%);
    cursor: pointer;
}

.tech_img{
    margin-bottom: 10px;
}

.tech_img img{
    width: 250px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

.tech_lord_name{
    text-align: center;
    background:#008000;
    color: #ffffff;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    .menu {
        gap: 15px;
    }
}